<h1>User一覧画面</h1>
<table class="table">
  <thead>
    <td>name</td>
    <td>email</td>
    <td></td>
  </thead>
  <% @users.each do |user| %>
  <tbody>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= link_to "詳細", user_path(user), class:"btn btn-info" %></td>
  </tbody>
  <% end %>
</table>